@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    font-size: 62.5%;
    --primary-color: #F0131E;
    --bg-color: #1d0000;
    --text-light: #f4f4f4;
    --text-dark: #263238;
    --text-gray: #555;
    --light-gray: #ddd;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.05em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.10em;
}

/* ############## Utility Classes ################ */

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
    text-transform: uppercase;
}

.md-heading{
    font-size: 2rem
}

.text-light{
    color: var(--text-light);
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0em;
    border-radius: 10rem;
}

.primary-btn{
    color: var(--text-light);
    border: 2px solid var(--text-light);
}

.primary-btn:hover{
    border: 2px solid var(--primary-color);
    font-weight: bold;
    color: var(--text-light);
}

.secondry-btn{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.secondry-btn:hover{
    font-weight: bolder;
}

/* ###################### Navbar styling ####################  */

.hero .navbar .logo{
    margin-top: 0.5rem;
    width: 12rem;
    float: left;
}

.hero{
    background-color: var(--text-dark);
}

.hero .navbar .navitems{
    list-style: none;
    float: right;
    padding: 2.5rem 0rem;
}

.hero .navbar::after{
    content: "";
    display: block;
    clear: both;
}

.hero .navbar .navitems .navitem a{
    color: var(--text-light);
    text-transform: uppercase;
}

.hero .navbar .navitems .navitem{
    display: inline-block;
    padding: 0.75rem ;
    margin: auto 1rem;
}

.navitem .active{
    font-weight: bold;
}

.navitem a:hover{
    padding-bottom: 0.5rem ;
    border-bottom: 1px solid var(--text-light) ;
}

/* ################ Blog Styling ################# */

.blog{
    padding: 5rem 0;
}

.blog-heading{
    color: var(--text-gray);
}

.blog-heading::after{
    content: '';
    display: block;
    margin-top: 1rem;
    border-top: 6px solid var(--primary-color);
}

.author .judge-image{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-image: url(./images/judge.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.author .mobius-image{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-image: url(./images/mobius.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.author .loki-image{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-image: url(./images/loki.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.author .hunter-image{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-image: url(./images/hunter-b-15.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.author .ai-image{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-image: url(./images/miss-minutes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.blog-post{
    padding: 5rem;
    border-bottom: 3px solid var(--text-gray);
}

.blog-post-5{
    border: none;
}

.author{
    padding-bottom: 2.5rem;
}

.blog-post p{
    text-align: justify;
}

.author-image, .author-name, .author-username{
    float: left;
}

.author::after{
    content: "";
    display: block;
    clear: both;
}

.author-name{
    font-size: 2em;
    padding-top: 1.25rem;
    padding-left: 1rem;
    width: 50%;
    color: var(--primary-color);
    font-weight: bold;
}

.author-username{
    width: 52%;
    padding-left: 1rem;
    font-size: 1.5rem;
    color: var(--text-dark);
}

/* ######################## Footer Styling ################### */

.footer{
    background: var(--text-dark);
    color: var(--text-light);
    padding: 5rem;
    text-align: center;
}

.icon{
    color: var(--text-light);
    margin: 2rem;
}

.icon:hover{
    color: #ED213A;
}

.copyright-box img{
    max-width: 5rem;
    float: left;
    margin-left: 28%;
}

.copyright-box .text{
    float: right;
    padding: 1.5rem 0;
    margin-right: 28%;
}

.copyright-box::after{
    content: "";
    display: block;
    clear: both;
}
