<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <script src="https://kit.fontawesome.com/925e21a4ac.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>TVA | About Us</title>
</head>
<body>
    <header class="hero">
        <nav class="navbar">
            <div class="container">
                <a href="./index.html">
                    <img class="logo" src="../static/images/logo.png" alt="TVA Logo">
                </a>
                <ul class="navitems">
                    <li class="navitem"><a href="./index.html">Home</a></li>
                    <li class="navitem"><a class="active" href="./about.html">About Us</a></li>
                    <li class="navitem"><a href="./blog.html">Blogs</a></li>
                    <li class="navitem"><a href="./contact.html">Contact Us</a></li>
                    <li class="navitem"><a href="./signup.html">Jobs</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="about">
        <div class="container">
            <h2 class="lg-heading about-heading">About Us</h2>
            <p class="about-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque asperiores, cum molestias exercitationem vel distinctio! Quasi esse vero nobis vitae debitis tempore, consectetur consequuntur et!</p>
            <article class="about-list">
                <h2 class="lg-heading list-heading">To Maintain Sacred Time-Line</h2>
                <ul class="list do-list">
                    <p class="md-heading">Do&apos;s</p>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <ul class="list do-not-list">
                    <p class="md-heading">Don&apos;t</p>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </article>

            <article class="count">
                <div class="count-item count-item1">
                    <span>10,000+</span>
                    <p>Minute Men</p>
                </div>
                <div class="count-item count-item2">
                    <span>2</span>
                    <p>Active Variants</p>
                </div>
                <div class="count-item count-item3">
                    <span>500+</span>
                    <p>Decased Variant</p>
                </div>
                <div class="count-item count-item4">
                    <span>24x7</span>
                    <p>Service</p>
                </div>
            </article>

            <article class="banner">    
                <div class="banner-item">
                    <h2 class="lg-heading list-heading">Know Your Time-Line Status</h2>
                    <a href="./contact.html" class="primary-btn">Contact Us</a>
                </div>
            </article>
        </div>
    </section>
</body>
</html>
