<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/925e21a4ac.js" crossorigin="anonymous"></script>
    <title>TVA | Home</title>
</head>
<body>
    <header class="hero">
        <nav class="navbar">
            <div class="container">
                <a href="./index.html">
                    <img class="logo" src="../static/images/logo.png" alt="TVA Logo">
                </a>
                <ul class="navitems">
                    <li class="navitem"><a class="active" href="./index.html">Home</a></li>
                    <li class="navitem"><a href="./about.html">About Us</a></li>
                    <li class="navitem"><a href="./blog.html">Blogs</a></li>
                    <li class="navitem"><a href="./contact.html">Contact Us</a></li>
                    <li class="navitem"><a href="./signup.html">Jobs</a></li>
                </ul>
            </div>
        </nav>
        <div class= "header-content">
            <h1 class="lg-heading text-light">Time Variance Authority</h1>
            <h2 class="md-heading text-light">Sacred Time-Line For All Time. Always. </h2>
            <a class="primary-btn btn" href="#explore">Exprole More</a>
        </div>
    </header>

    <section class="showcase">
        <div class="container">
            <h2 id="explore", class="heading-of-showcase">Hall of Fame</h2>
            <p class="para-of-showcase">In TVA our duty is to protect timeline from any kind of event or we can call nexus event that make barnches in Time-Line. If any how Any one created a branch in Sacred Timline our minute man are here to protect timeline and Reset the branch therfore timeline stays <br>FOR ALL TIME ALWAYS.</p>
            <article class="row row1">
                <div class="img-box">
                    <img src="../static/images/judge.jpg" alt="Ravonna Renslayer">
                </div>
                <div class="text-box">
                    <h2 class="lg-heading">Ravonna Renslayer, Judge</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam quis esse consequatur totam sint voluptates expedita, et laboriosam nemo fuga, quam autem mollitia a. Quasi minima architecto excepturi doloribus! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a class="secondry-btn btn" href="./blog.html" target="_blank">Blog from Ravonna</a>
                </div>
            </article>

            <article class="row row2">
                <div class="img-box">
                    <img src="../static/images/mobius.jpg" alt="Mobius M. Mobius">
                </div>
                <div class="text-box">
                    <h2 class="lg-heading">Mobius M. Mobius, Detective</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam quis esse consequatur totam sint voluptates expedita, et laboriosam nemo fuga, quam autem mollitia a. Quasi minima architecto excepturi doloribus! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a class="secondry-btn btn" href="./blog.html" target="_blank">Blog from Mobius</a>
                </div>
            </article>

            <article class="row row1">
                <div class="img-box">
                    <img src="../static/images/loki.jpg" alt="Loki Odinson aka Loki Lufeyson">
                </div>
                <div class="text-box">
                    <h2 class="lg-heading">Loki Odinson, Analyst</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam quis esse consequatur totam sint voluptates expedita, et laboriosam nemo fuga, quam autem mollitia a. Quasi minima architecto excepturi doloribus! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a class="secondry-btn btn" href="./blog.html" target="_blank">Blog from Loki</a>
                </div>
            </article>

            <article class="row row2">
                <div class="img-box">
                    <img src="../static/images/hunter-b-15.jpg" alt="Hunter B-15">
                </div>
                <div class="text-box">
                    <h2 class="lg-heading">Hunter B-15, Minute Men</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam quis esse consequatur totam sint voluptates expedita, et laboriosam nemo fuga, quam autem mollitia a. Quasi minima architecto excepturi doloribus! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a class="secondry-btn btn" href="./blog.html" target="_blank">Blog from B-15</a>
                </div>
            </article>

            <article class="row row1">
                <div class="img-box">
                    <img src="../static/images/miss-minutes.jpg" alt="Miss Minutes">
                </div>
                <div class="text-box">
                    <h2 class="lg-heading">Miss Minutes, A.I.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam quis esse consequatur totam sint voluptates expedita, et laboriosam nemo fuga, quam autem mollitia a. Quasi minima architecto excepturi doloribus! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a class="secondry-btn btn" href="./blog.html" target="_blank">Blog from Miss minutes</a>
                </div>
            </article>
        </div>
    </section>

    <section class="variants">
        <div class = "container">
            <h2 class="heading-of-variants">Active Variants</h2>
            <article class="active-variants">
                <div class="av-column av-column1">
                    <div class="av-img-box">
                        <img src="../static/images/loki-varient.jpg" alt="Varient Loki">
                    </div>
                    <div class="av-text-box">
                        <p><strong>Name:</strong> Loki Odinson</p>
                        <p><strong>Father:</strong> Laufey</p>
                        <p><strong>Adopted by:</strong> Odin</p>
                        <p><strong>Birth:</strong> Jotunheim</p>
                        <p><strong>Resident:</strong> Asgard</p>
                        <p><strong>Variant:</strong> L1130</p>
                        <p><strong>Nexus:</strong> Time-travel</p>
                        <p class= "risk"><strong>Risk:</strong> <span class="yellow">Medium</span></p>
                        <a href="#" class="btn secondry-btn">Go to file</a>
                        
                    </div>
                </div>
                <div class="av-column av-column2">
                    <div class="av-img-box">
                        <img src="../static/images/sylvie.jpg" alt="Variant Sylvie">
                    </div>
                    <div class="av-text-box">
                        <p><strong>Name:</strong> Sylvie Laufeydottir</p>
                        <p><strong>Father:</strong> Laufey</p>
                        <p><strong>Adopted by:</strong> Odin</p>
                        <p><strong>Birth:</strong> Jotunheim</p>
                        <p><strong>Resident:</strong> Asgard</p>
                        <p><strong>Variant:</strong> L0852, L1190</p>
                        <p><strong>Nexus:</strong> Unknown</p>
                        <p class= "risk"><strong>Risk:</strong> <span class="red">High</span></p>
                        <a href="#" class="btn secondry-btn">Go to file</a>
                    </div>
                </div>
            </article>

            <h2 class="heading-of-variants">Deceased Variants</h2>
            <article class="deceased-variants">
                <div class="dv-column dv-column1">
                    <div class="dv-img-box">
                        <a href="#"><img src="../static/images/Alligator-Loki.jpg" alt="Alligator Loki"></a>
                    </div>
                </div>
                <div class="dv-column dv-column2">
                    <div class="dv-img-box">
                        <a href="#"><img src="../static/images/Classic-Lokijpg.jpg" alt="Classic Loki"></a>
                    </div>
                </div>
                <div class="dv-column dv-column3">
                    <div class="dv-img-box">
                        <a href="#"><img src="../static/images/Kid-Loki.jpg" alt="Kid Loki"></a>
                    </div>
                </div>
                <div class="dv-column dv-column4">
                    <div class="dv-img-box">
                        <a href="#"><img src="../static/images/deceased-loki.jpg" alt="Minister Loki"></a>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="feature">
        <div class="container">
            <div class="box-wrapper">
                <article class="box box-1">
                    <i class="fas fa-eye fa-2x"></i>
                    <h2 class="md-heading">Watch</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis nesciunt corrupti tenetur. Non quaerat animi nostrum deleniti beatae illo doloremque.</p>
                </article>
                <article class="box box-2">
                    <i class="fas fa-brain fa-2x"></i>
                    <h2 class="md-heading">Know</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis nesciunt corrupti tenetur. Non quaerat animi nostrum deleniti beatae illo doloremque.</p>
                </article>
                <article class="box box-3">
                    <i class="fas fa-cogs fa-2x"></i>
                    <h2 class="md-heading">Manitain</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis nesciunt corrupti tenetur. Non quaerat animi nostrum deleniti beatae illo doloremque.</p>
                </article>
            </div>
        </div>
    </section>
    
    <footer class="footer">
        <div class="container">
            <div class="icon-box">
                <a href="https://www.linkedin.com/in/arpitgupta630/" target="_blank">
                    <i class="fab fa-linkedin fa-3x icon"></i>
                </a>
                <a href="https://twitter.com/arpitgupta630" target="_blank">
                    <i class="fab fa-twitter fa-3x icon"></i>
                </a>
                <a href="https://github.com/arpitgupta630" target="_blank">
                    <i class="fab fa-github fa-3x icon"></i>
                </a>
            </div>
            
            <div class="copyright-box">
                <img src="../static/images/copyright-image.png" alt="TVA Original Logo">
                <p class= "text">Time Variance Authority &copy; 2021 All Rights Reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>
