<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/925e21a4ac.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="../static/contact.css">
    <title>TVA | Contact Us</title>
</head>
<body>
    <header class="hero">
        <nav class="navbar">
            <div class="container">
                <a href="./index.html">
                    <img class="logo" src="../static/images/logo.png" alt="TVA Logo">
                </a>
                <ul class="navitems">
                    <li class="navitem"><a href="./index.html">Home</a></li>
                    <li class="navitem"><a href="./about.html">About Us</a></li>
                    <li class="navitem"><a href="./blog.html">Blogs</a></li>
                    <li class="navitem"><a class="active" href="./contact.html">Contact Us</a></li>
                    <li class="navitem"><a href="./signup.html">Jobs</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="contact">
        <div class="container">
            <div class="contact-wrapper">
                <address class="company-address">
                    <article class="address-group">
                        <i class="fas fa-map-marker-alt fa-3x"></i>
                        <h2 class="address-heading">Location</h2>
                        <p class="address-content">TVA&#44; Sector 7A&#44; Area 51&#44; USA&#44; Planet C&#45;53&#44; Dimension T&#45;71&period;</p>
                    </article>

                    <article class="address-group">
                        <i class="fas fa-envelope fa-3x"></i>
                        <h2 class="address-heading">E-Mail</h2>
                        <p class="address-content">arpitgupta630&#64;gmail&#46;com</p>
                    </article>

                    <article class="address-group">
                        <i class="fas fa-phone-square-alt fa-3x"></i>
                        <h2 class="address-heading">Call</h2>
                        <p class="address-content">&plus;91&#45;9251128613</p>
                    </article>
                    
                    <img src="../static/images/place.png" alt="TVA Office" class="place-image">
                </address>

                <form action="contact_form" method="post" class="contact-form">
                    <h2 class="lg-heading contact-heading">Contact Us</h2><br><br><br><br><br><br><br><br><br><br>
                    <h3 class="form-para">Thank You for contacting us we will get back to u soon</h3>
                    
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="icon-box">
                <a href="https://www.linkedin.com/in/arpitgupta630/" target="_blank">
                    <i class="fab fa-linkedin fa-3x icon"></i>
                </a>
                <a href="https://twitter.com/arpitgupta630" target="_blank">
                    <i class="fab fa-twitter fa-3x icon"></i>
                </a>
                <a href="https://github.com/arpitgupta630" target="_blank">
                    <i class="fab fa-github fa-3x icon"></i>
                </a>
            </div>
            
            <div class="copyright-box">
                <img src="../static/images/copyright-image.png" alt="TVA Original Logo">
                <p class= "text">Time Variance Authority &copy; 2021 All Rights Reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>
